<template>
  <div class="about">
    <Row type="flex">
      <Col span="12" offset="4">
        <Form :model="form" ref="form" :rules="formRules" :label-width="100">
          <FormItem label="input" prop="input">
            <Input v-model="form.input"/>
          </FormItem>
        </Form>
      </Col>
    </Row>
    <Button type="error" @click="submitForm('form')">SUBMIT</Button>
    <Modal v-model="isModalOpen" title="校驗成功"></Modal>
  </div>
</template>

<script>
export default {
  data () {
    return {
      form: {
        input: ''
      },
      formRules: {
        input: [
          { required: true, message: '必填欄位', trigger: 'blur' }
        ]
      },
      isModalOpen: false
    }
  },
  methods: {
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.openModal()
        }
      })
    },
    openModal () {
      this.isModalOpen = true
    }
  }
}
</script>

<style>

</style>
