<template>
  <div class="about">
    <Row type="flex">
      <Col :xxl="6" :xl="12" :lg="24" :xs="24" v-for="(item, index) in grid" :key="index">
        <div :style="{ backgroundColor: item, height: '100px' }" />
      </Col>
    </Row>
  </div>
</template>

<script>
export default {
  data () {
    return {
      grid: ['blue', 'red', 'green', 'yellow']
    }
  }
}
</script>

<style>

</style>
