<template>
  <div class="about">
    <Button type="primary" @click="openModal">打開彈窗</Button>
    <Modal v-model="isModalOpen" title="我是彈窗"></Modal>
  </div>
</template>

<script>
export default {
  data () {
    return {
      isModalOpen: false
    }
  },
  methods: {
    openModal () {
      this.isModalOpen = true
    }
  }
}
</script>

<style>

</style>
