<template>
  <div class="about">
    <Table :data="list" :columns="columns"></Table>
    <Modal v-model="isModalOpen" title="我是彈窗">
      {{content}}
    </Modal>
  </div>
</template>

<script>
export default {
  data () {
    return {
      list: [
        { name: 'Frank', birthday: '12/20' },
        { name: 'Corn', birthday: '8/23' },
        { name: 'Emma', birthday: '12/15' }
      ],
      columns: [
        { title: '姓名', key: 'name', align: 'center' },
        { title: '生日', key: 'birthday' },
        {
          title: '操作',
          key: 'operating',
          align: 'center',
          render: (h, params) => {
            const text = params.row.birthday
            return h('div', [
              h('Button', {
                props: { type: 'primary' },
                on: {
                  click: () => { this.openModal(params.row) }
                }
              }, text)
            ])
          }
        }
      ],
      isModalOpen: false,
      content: ''
    }
  },
  methods: {
    openModal (row) {
      this.content = row.name
      this.isModalOpen = true
    }
  }
}
</script>

<style>

</style>
