<template>
  <div class="about">
    <h1 v-for="(item, index) in vfor" :key="index">{{item}}</h1>
    <h1 v-for="(item, index) in vfor2" :key="`vfor2-${index}`">{{item}}</h1>
  </div>
</template>

<script>
export default {
  data () {
    return {
      vfor: ['apple', 'bird', 'cat', 'dog'],
      vfor2: {
        0: '1',
        1: '1',
        2: '1'
      }
    }
  }
}
</script>

<style>

</style>
