<template>
  <div class="about">
    <h1>This is first VIf h1</h1>
    <h1 v-if="vif">This is second VIf h1</h1>
    <h1 v-if="vif2">This is third VIf h1</h1>
  </div>
</template>

<script>
export default {
  data () {
    return {
      vif: true,
      vif2: true
    }
  }
}
</script>

<style>

</style>
