<template>
  <div class="about">
    <input v-model="forVuex">
    <div>{{account}}</div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState({
      account: state => state.login.account
    })
  },
  watch: {
    forVuex: function () { this.handleForVuex() }
  },
  data () {
    return {
      forVuex: ''
    }
  },
  methods: {
    handleForVuex () {
      this.$store.dispatch('submitLogin', { account: this.forVuex })
    }
  }
}
</script>

<style>

</style>
